* {
    margin: 0px;
    background-color: black;

}

#head {
    background-color: black;
    color: white;
    height: 150px;
    text-align: center;
    line-height: 70px;
}
.main {
    background-color: whitesmoke;
    height: 150px;
    font-size:40px;
    padding: 25px;
    font-family: sans-serif;
    font-weight: 700;
}
.content {
    max-width: 640px;
    margin: auto;
}
.content p {
    color: white;
    margin-bottom: 20px;
    padding-left: 25px;
    font-size: large;
}
.content h1 {
    color: white;
    margin: 25px;


}